extends layout

block content
  section.main-container
    .posts-container 
      .post 
        img(src="/images/avatar.jpg" class="post__avatar")
        img(src="/images/trash.png" class="post__delete")
        h3.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet!
        p.post__timestamp 2022-09-3 | 1:04 p.m
      .post 
        img(src="/images/avatar_1.jpg" class="post__avatar")
        img(src="/images/trash.png" class="post__delete")
        p.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet,oluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.post__timestamp 2022-09-3 | 1:04 p.m
      .post 
        img(src="/images/avatar_2.jpg" class="post__avatar")
        img(src="/images/trash.png" class="post__delete")
        p.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet,Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.post__timestamp 2022-09-3 | 1:04 p.m
      .post 
        img(src="/images/avatar_3.jpg" class="post__avatar")
        img(src="/images/trash.png" class="post__delete")
        p.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, consectetur adipisicing elit.santium, deserunt officia,voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.post__timestamp 2022-09-3 | 1:04 p.m
      .post 
        img(src="/images/avatar_4.jpg" class="post__avatar")
        a(href="")
          img(src="/images/trash.png" class="post__delete")
        p.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet, consectetur adipisicing elit.santium, deserunt officia,consectetur adipisicing elit.santium, deserunt officia,consectetur adipisicing elit.santium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.post__timestamp 2022-09-3 | 1:04 p.m
      .post 
        img(src="/images/avatar_5.jpg" class="post__avatar")
        img(src="/images/trash.png" class="post__delete" id="delete_button" data-id="")
        p.post__username The Man Himself
        h4.post__title Some Title
        p.post__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.post__timestamp 2022-09-3 | 1:04 p.m