extends layout

block content
  section.main-container
    .messages-container 
      .message 
        img(src="/images/avatar.jpg" class="message__avatar")
        img(src="/images/trash.png" class="message__delete")
        h3.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet!
        p.message__timestamp 2022-09-3 | 1:04 p.m
      .message 
        img(src="/images/avatar_1.jpg" class="message__avatar")
        img(src="/images/trash.png" class="message__delete")
        p.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet,oluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.message__timestamp 2022-09-3 | 1:04 p.m
      .message 
        img(src="/images/avatar_2.jpg" class="message__avatar")
        img(src="/images/trash.png" class="message__delete")
        p.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet,Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.message__timestamp 2022-09-3 | 1:04 p.m
      .message 
        img(src="/images/avatar_3.jpg" class="message__avatar")
        img(src="/images/trash.png" class="message__delete")
        p.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, consectetur adipisicing elit.santium, deserunt officia,voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.message__timestamp 2022-09-3 | 1:04 p.m
      .message 
        img(src="/images/avatar_4.jpg" class="message__avatar")
        a(href="")
          img(src="/images/trash.png" class="message__delete")
        p.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet, consectetur adipisicing elit.santium, deserunt officia,consectetur adipisicing elit.santium, deserunt officia,consectetur adipisicing elit.santium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.message__timestamp 2022-09-3 | 1:04 p.m
      .message 
        img(src="/images/avatar_5.jpg" class="message__avatar")
        img(src="/images/trash.png" class="message__delete" id="delete_button" data-id="")
        p.message__username The Man Himself
        h4.message__title Some Title
        p.message__content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!Modi expedita eveniet consectetur, voluptates voluptatum, sit excepturi earum. Veniam eius amet, accusantium, deserunt officia, quos qui debitis laboriosam velit quis autem!
        p.message__timestamp 2022-09-3 | 1:04 p.m