doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.nav
      div.nav__left
        a(href="/")
          img(src="/images/logo.png" alt="logo" class="nav__left_logo")
        p.nav__left_title Members Only 

      div.nav__right
         if (user)
          a(href="/create-message")
            p.hover-underline-animation Create Message 
          a(href="/profile")
            p.hover-underline-animation Profile
          a(href="/logout")
            p.hover-underline-animation Log Out 
         else
          a(href="/signup")
            p.hover-underline-animation Sign Up 
          a(href="/login")
            p.hover-underline-animation Log In
        
    block content
