* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f2ef;
  padding: 10px 10px 20px 10px;
}

a {
  /* color: #00b7ff; */
  text-decoration: none;
  color: inherit;
}
.main-container {
  margin-top: 5em;
}
/* Nav */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
.nav__left {
  display: flex;
  align-items: center;
  padding: 5px;
}
.nav__left_title {
  font-size: 2em;
  cursor: default;
}

.nav__left_logo {
  width: 100px;
  filter: blur(2px);
  transition: all 0.5s ease;
  cursor: pointer;
}
.nav__left_logo:hover {
  filter: blur(0);
  transform: scale(1.05);
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
.nav__right p {
  font-size: large;
  cursor: pointer;
}
/* Form */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 70px 20px;
  border-radius: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.3s ease;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.form-item {
  display: flex;
  align-items: flex-end;
  gap: 1em;
}
.form input {
  border: none;
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  width: 25em;
  height: 2.5em;
  background-color: rgb(229 231 235);
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}
.form button {
  padding: 15px;
  width: fit-content;
  border-radius: 0.4rem;
  outline: none;
  border: none;
  align-self: center;
  font-size: large;
  transition: all 0.5s ease;
  cursor: pointer;
}
.form button:hover {
  background-color: rgb(223, 219, 219);
}
.form input:focus-visible {
  border: none;
  outline: 1px solid;
  background-color: whitesmoke;
}
.form a {
  transition: all 1s ease;
  align-self: center;
}
.form a:hover {
  text-decoration: underline;
}
input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
input[type="radio"] + label img:hover {
  cursor: pointer;
}
input[type="radio"] + label img {
  transition: all 0.3s ease;
}
input[type="radio"]:checked + label img {
  border-radius: 18px;
  background: lime;
  padding: 5px;
  transition: all 0.3s ease;
}
.form input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  transition: all 0.3s ease;
}
.avatar-container {
  display: flex;
  width: 27em;
  gap: 10px;
}
.avatar-container img {
  width: 100px;
  border-radius: 50%;
}
.form textarea {
  border: none;
  border-radius: 0.375rem;
  margin-top: 0.25rem;
  width: 25em;
  height: 7.5em;
  background-color: rgb(229 231 235);
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}
.form textarea:focus-visible {
  border: none;
  outline: 1px solid;
  background-color: whitesmoke;
}
/* Overlay */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(26, 25, 25, 0.5);
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  opacity: 0;
  transform: scale(0);
  z-index: 2;
}
.overlay-active {
  opacity: 1;
  transform: scale(1);
}
/* Hover Animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: greenyellow;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* Messages */
.messages-container {
  display: grid;
  gap: 3.5em;
  place-content: center;
}
.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 40em;
  min-height: 8em;
  padding: 18px;
  margin: 5px;
  border-radius: 18px;
  background: rgb(229 231 235);
  padding: 10px 80px;
  gap: 5px;
}
.message__delete {
  width: 2em;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.message__delete:hover {
  transform: scale(1.05);
}
.message__avatar {
  border-radius: 50%;
  width: 140px;
  position: absolute;
  top: -65px;
  left: -65px;
}
.message__username {
  align-self: flex-start;
  font-size: larger;
}
.message__title {
  align-self: flex-start;
  font-size: large;
}
.message__content {
  text-align: justify;
  font-size: medium;
  word-wrap: break-word;
  word-break: break-all;
}
.message__timestamp {
  align-self: flex-end;
}
/* Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}
.profile-container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.profile__username {
  font-size: 25px;
}
.profile__avatar {
  width: 22em;
  border-radius: 60px;
}
/* Login when signed in  */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.login__header {
  font-size: 3.5em;
}
.login__link {
  font-size: 1.5em;
  transition: all 0.3s ease;
}
.login__link:hover {
  color: #34a3cf;
}
.login__avatar {
  width: 30em;
  border-radius: 50%;
}
/* signup when signed in  */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.signup__header {
  font-size: 3.5em;
}
.signup__link {
  font-size: 1.5em;
  transition: all 0.3s ease;
}
.signup__link:hover {
  color: rgb(83, 138, 1);
}
.signup__avatar {
  width: 30em;
  border-radius: 50%;
}
/* Delete */
.delete-header {
  font-size: 30px;
  color: crimson;
}
.delete-button {
  color: gainsboro;
  background-color: crimson;
}
.form .delete-button:hover {
  background-color: #c81d25;
}
/* Error */
.error {
  color: red;
  font-size: large;
}
